body {
	color: white;
}

.wallpaper {
	background-image: url('https://i.ibb.co/N9fHPWk/wallpaper.jpg');
	filter: blur(2px) brightness(0.4);
	min-height: 100vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: fixed;
	min-width: 100%;
	z-index: -1;
}

.back-blur {
	background-size: cover;
	background-position: center;
	background-blend-mode: soft-light;
}

.img-blur {
	filter: blur(1px) brightness(0.3);
	object-fit: cover;
}
