.wallpaper {
	background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/c7ca95cf-1627-403b-975a-81980cffdee3/da7oosj-920aaabe-eefe-48ad-9675-2927b4d1faad.jpg/v1/fill/w_1024,h_576,q_75,strp/tokugawa_clan___wallpaper_by_drakevagabond_da7oosj-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NTc2IiwicGF0aCI6IlwvZlwvYzdjYTk1Y2YtMTYyNy00MDNiLTk3NWEtODE5ODBjZmZkZWUzXC9kYTdvb3NqLTkyMGFhYWJlLWVlZmUtNDhhZC05Njc1LTI5MjdiNGQxZmFhZC5qcGciLCJ3aWR0aCI6Ijw9MTAyNCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.fIISPDwMBHoovpsAuhUivYgyBmJZe_4XuxCyIcdrCpc');
	filter: blur(2px) brightness(0.2);
	min-height: 100vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: fixed;
	min-width: 100%;
	z-index: -1;
}

.back-blur {
	background-size: cover;
	background-position: center;
	background-blend-mode: soft-light;
}

.img-blur {
	filter: blur(1px) brightness(0.3);
	object-fit: cover;
}
