#logo {
	display: block;
	text-align: center;
	width: max-content;
	margin: 15px;
}

#logo_char {
	font-family: "Noto Serif JP", serif;
	font-size: xxx-large;
	display: inline;
	text-justify: inter-character;
}

.logo_title {
	font-family: "Noto Serif JP", serif;
	font-size: x-large;
	margin-top: -15px;
	text-justify: inter-character;
}

.logo_sub {
	font-size: x-small;
	font-family: 'Share Tech', sans-serif;
	text-justify: auto;
}



